# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
#

* @equinix/governor-digin-observability-architects
fabric* @equinix/governor-digin-fabric
resource_manager* @equinix/governor-qore-crh
access_manager* @equinix/governor-qore-crh
network_edge* @equinix/governor-ne-network-edge-engineering
platform_identity* @equinix/governor-qore-identity
